body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}

header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  background-color: rgb(113, 34, 34);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  outline: none;
}
button:hover {
  background-color: #45a049;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.option {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f1f1f1;
  text-align: left;
}

.option:hover {
  background-color: #ddd;
}

#timer {
  margin-bottom: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}
input {
  padding: 5px;
}